interactions:
- request:
    body: '{"prefill_email": "john@doe.com", "country": null, "redirect_url": null,
      "context": null, "bank_id": null, "capabilities": null}'
    headers:
      Bridge-Version:
      - '2021-06-01'
      Content-Type:
      - application/json
    method: POST
    uri: https://api.bridgeapi.io/v2/connect/items/add
  response:
    body:
      string: '{"redirect_url":"https://connect.bridgeapi.io?prefill_email=john%40doe.com&connect_request_id=2027946&token_uuid=ab5820df-a4c8-4114-9d9b-d48bce8222f4"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
