interactions:
- request:
    body: null
    headers:
      Bridge-Version:
      - '2021-06-01'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.bridgeapi.io/v2/accounts/37271913
  response:
    body:
      string: '{"id":37271913,"name":"Compte Courant 1","balance":1201.46,"status":0,"status_code_info":"OK","status_code_description":null,"updated_at":"2023-07-26T09:11:11.358Z","type":"checking","is_paused":false,"currency_code":"EUR","item_id":8170358,"bank_id":574,"loan_details":null,"savings_details":null,"is_pro":false,"iban":"FR6914508000303386763591H62"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
