interactions:
- request:
    body: null
    headers:
      Bridge-Version:
      - '2021-06-01'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.bridgeapi.io/v2/transactions/updated
  response:
    body:
      string: "{\"resources\":[{\"id\":36000071605232,\"clean_description\":\"Cb Temporary
        Transaction\",\"bank_description\":\"Cb temporary transaction\",\"amount\":-50.0,\"date\":\"2023-07-26\",\"updated_at\":\"2023-07-26T09:11:11.371Z\",\"currency_code\":\"EUR\",\"category_id\":306,\"account_id\":37271913,\"show_client_side\":true,\"is_deleted\":false,\"is_future\":false},{\"id\":36000070890300,\"clean_description\":\"Cb
        Temporary Transaction\",\"bank_description\":\"Cb temporary transaction\",\"amount\":-50.0,\"date\":\"2023-07-25\",\"updated_at\":\"2023-07-26T07:36:19.769Z\",\"currency_code\":\"EUR\",\"category_id\":306,\"account_id\":37271913,\"show_client_side\":true,\"is_deleted\":true,\"is_future\":false},{\"id\":36000070890298,\"clean_description\":\"Retrait
        Dab\",\"bank_description\":\"Retrait Dab 25-08-20041-757081\",\"amount\":-14[...]
