interactions:
- request:
    body: null
    headers:
      Bridge-Version:
      - '2021-06-01'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.bridgeapi.io/v2/accounts
  response:
    body:
      string: "{\"resources\":[{\"id\":37271916,\"name\":\"Pocket GBP\",\"balance\":625.16,\"status\":0,\"status_code_info\":\"OK\",\"status_code_description\":null,\"updated_at\":\"2023-07-26T09:11:11.401Z\",\"type\":\"checking\",\"is_paused\":false,\"currency_code\":\"GBP\",\"item_id\":8170358,\"bank_id\":574,\"loan_details\":null,\"savings_details\":null,\"is_pro\":false,\"iban\":\"GB77BARC20035391348945\"},{\"id\":37271915,\"name\":\"Compte
        Courant 3\",\"balance\":800.0,\"status\":0,\"status_code_info\":\"OK\",\"status_code_description\":null,\"updated_at\":\"2023-07-26T09:11:11.386Z\",\"type\":\"checking\",\"is_paused\":false,\"currency_code\":\"EUR\",\"item_id\":8170358,\"bank_id\":574,\"loan_details\":null,\"savings_details\":null,\"is_pro\":false,\"iban\":\"FR0530003000402916465922J55\"},{\"id\":37271914,\"name\":\"Compte
        Courant 2\",\"balance\":1406[...]
