interactions:
- request:
    body: null
    headers:
      Bridge-Version:
      - '2021-06-01'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.bridgeapi.io/v2/banks/574
  response:
    body:
      string: '{"id":574,"name":"Demo bank","country_code":"FR","logo_url":"https://web.bridgeapi.io/img/banks-logo/fr/demo-bank.png","authentication_type":"INTERNAL_CREDS","form":[{"label":"Identifiant","type":"USER","isNum":"0","maxLength":null,"minLength":null},{"label":"Mot
        de passe","type":"PWD","isNum":"0","maxLength":null,"minLength":null}],"is_highlighted":false,"primary_color":null,"secondary_color":null,"parent_name":null,"capabilities":["ais","account_check","single_transfer","bulk_transfer","single_payment","single_payment_scheduled"],"transfer":{"nb_max_transactions":1,"max_size_label":140,"multiple_dates_transfers":false},"payment":{"nb_max_transactions":1,"max_size_label":140,"multiple_dates_payments":false,"sender_iban_available":false},"channel_type":["dsp2","direct_access"],"display_order":null,"authentication_page_url":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
