interactions:
- request:
    body: null
    headers:
      Bridge-Version:
      - '2021-06-01'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.bridgeapi.io/v2/categories
  response:
    body:
      string: '{"resources":[{"id":168,"name":"Food & Dining","categories":[{"id":83,"name":"Restaurants"},{"id":188,"name":"Food
        - Others"},{"id":260,"name":"Fast foods"},{"id":273,"name":"Supermarkets /
        Groceries"},{"id":313,"name":"Coffee shop"}]},{"id":164,"name":"Bank","categories":[{"id":79,"name":"Banking
        fees and charges"},{"id":89,"name":"Mortgage refund"},{"id":191,"name":"Monthly
        Debit"},{"id":192,"name":"Savings"},{"id":194,"name":"Mortgage"},{"id":195,"name":"Bank
        - Others"},{"id":306,"name":"Banking services"},{"id"[...]
