interactions:
- request:
    body: null
    headers:
      Bridge-Version:
      - '2021-06-01'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.bridgeapi.io/v2/banks?limit=2
  response:
    body:
      string: '{"resources":[{"id":592,"name":"BNP Connexis - BETA","country_code":"FR","logo_url":"https://web.bridgeapi.io/img/banks-logo/fr/bnp.png","authentication_type":"WEBVIEW","form":[{"label":"Identifiant","type":"USER","isNum":"0","maxLength":null,"minLength":null},{"label":"Mot
        de passe","type":"PWD","isNum":"1","maxLength":null,"minLength":null}],"url":"https://api.bridgeapi.io/v2/banks/592/connect-item","is_highlighted":false,"primary_color":null,"secondary_color":null,"parent_name":"BNP","capabilities":["ais"],"channel_type":["dsp2"],"display_order":null,"authentication_page_url":null},{"id":591,"name":"Propulse
        By CA - BETA","country_code":"FR","logo_url":"https://web.bridgeapi.io/img/banks-logo/fr/propulsebyca-20230623141146.png","authentication_type":"WEBVIEW","form":[{"label":"Identifiant","type":"USER","isNum":"0","maxLength":null,"minLength":null},{"label":"Mot
        de passe","type":"PWD","isNum":"1","maxLength":null,"minLength":null}],"url":"https://api.bridgeapi.io/v2/banks/591/connect-item","is_highlighted":false,"primary_color":null,"secondary_color":null,"parent_name":null,"capabilities":["ais"],"channel_type":["dsp2"],"display_order":null,"authentication_page_url":null}],"pagination":{"next_uri":"/v2/banks?after=NTkx&limit=2"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
