interactions:
- request:
    body: null
    headers:
      Bridge-Version:
      - '2021-06-01'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.bridgeapi.io/v2/banks/insights
  response:
    body:
      string: "[{\"bank_name\":\"Revolut UK\",\"percentage_success\":0.0,\"percentage_error\":0.0,\"refresh_at\":\"2023-07-26T09:01:03.000Z\",\"country\":\"GB\",\"children\":[{\"id\":433,\"bank_name\":\"Revolut
        UK\",\"percentage_success\":99.77,\"percentage_error\":0.23,\"refresh_at\":\"2023-07-26T09:01:03.000Z\",\"active\":false},{\"id\":464,\"bank_name\":\"Revolut
        Business UK\",\"percentage_success\":100.0,\"percentage_error\":0.0,\"refresh_at\":\"2023-07-26T09:01:03.000Z\",\"active\":false}],\"active\":false},{\"id\":580,\"bank_name\":\"Allianz\",\"percentage_success\":100.0,\"percentage_error\":0.0,\"refresh_at\":\"2023-07-26T09:00:59.000Z\",\"country\":\"FR\",\"children\":[],\"active\":true},{\"id\":23,\"bank_name\":\"Bred\",\"percentage_success\":99.65,\"percentage_error\":0.35,\"refresh_at\":\"2023-0[...]
