interactions:
- request:
    body: null
    headers:
      Bridge-Version:
      - '2021-06-01'
      Content-Type:
      - application/json
    method: GET
    uri: https://api.bridgeapi.io/v2/transactions
  response:
    body:
      string: '{"resources":[{"id":36000071605232,"clean_description":"Cb Temporary
        Transaction","bank_description":"Cb temporary transaction","amount":-50.0,"date":"2023-07-26","updated_at":"2023-07-26T09:11:11.371Z","currency_code":"EUR","category_id":306,"account_id":37271913,"show_client_side":true,"is_deleted":false,"is_future":false},{"id":36000071547601,"clean_description":"CB
        Mad Cours Mcdonald S Agdal Oncf","bank_description":"PAIEMENT PAR CARTE 22/07/2023
        61 MAD COURS 0.09361 MCDONALD S AGDAL ONCF","amount":-5.71,"date":"2023-07-26","updated_at":"2023-07-26T07:36:19.748Z","currency_code":"EUR","category_id":260,"account_id":37271912,"show_client_side":true,"is_deleted":false,"is_future":false},{"id":36000070890298,"clean_description":"Retrait
        Dab","bank_description":"Retrait Dab 25-08-20041[...]
