interactions:
- request:
    body: '{"email": "john@doe.com", "password": "password123"}'
    headers:
      Bridge-Version:
      - '2021-06-01'
      Client-Id:
      - 46f5e40e66624e6f9ea97452250e6b8c
      Client-Secret:
      - wlqVKKc9PlcHobG2DPMWeIeCAudD6ibgMu4ODNY5wXgtMSIkURtveFOMDU7M4Z56
      Content-Type:
      - application/json
    method: POST
    uri: https://api.bridgeapi.io/v2/authenticate
  response:
    body:
      string: '{"access_token":"b706dd6b40f9616a0a39984a959ffa5bfa6b1bca-001cf0d8-2711-4f3a-b84f-996aac1ae243","expires_at":"2023-07-26T11:10:16.058Z","user":{"uuid":"998945b4-c977-43e4-a854-d9680fa00fd5","email":"john@doe.com"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
